<!doctype html>
<html lang="en">
  <head>
    <title>Smart Fan Controller</title>
    <link rel="stylesheet" type="text/css" href="../static/styles/main.css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300" rel="stylesheet">
  </head>
  <body>

    <div id="smartFan">
      <h1>SMART FAN CONTROLLER</h1>
    </div>

    <div id="ardTemp">
      <h3>Temperature from Arduino <br> {{ arduinoTemp }}</h3>
    </div>

    <div id="fanStatus">
      <h3>Fan status <br> {{ arduinoFanStatus }}</h3>
    </div>

    <div class="wrapper">
      <form action="/changeCity" method="post" novalidate id="cityWrap">
        <h2 >{{ formCity.city.label }} <br> {{ formCity.city(size=40) }} </h2>
        <p>{{ formCity.submit() }}</p>
      </form>

      <h3>Temperature outside: {{ outsideTemp }}</h3>

      <form action="/changeTempThreshold" method="post" novalidate>
        <h3>{{ formTemp.tmepTreshold.label }} <br> {{ formTemp.tmepTreshold(size=32) }}</h3>
        <p>{{ formTemp.submit() }}</p>
      </form>
  </div>

  </body>
</html>
